<div class="jumbotron text-center">
  <h1>UCSC Library</h1>
  <p class="lead"> Wecome to our online web application which you can ...... and register now</p>
  <div>
    <a class="btn btn-primary" [routerLink] = "['/register']">Register</a>
    <a class="btn btn-secondary" [routerLink] = "['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>AAA</h3>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
  </div>
  <div class="col-md-4">
    <h3>BBB</h3>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
  </div>
  <div class="col-md-4">
    <h3>CCC</h3>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
  </div>
</div>